<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Es.Udc.DotNet.Betbook.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Es.Udc.DotNet.Betbook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BetbookEntitiesContainer"
         connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=coto;Initial Catalog=PracticaIS;Integrated Security=True;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Enterprise Library Logging" formatter="Text Formatter"
        log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Formatted EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>-->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
      defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="S:\Temp\Log\BetbookWeb.log" header="" footer=""
        formatter="Simple Log Format" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="[{timestamp}] [{category}] ({severity}) - {message} "
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Simple Log Format" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <appSettings />
  <system.web>       
    <!-- Cultural preferences of the Web site -->
    <globalization culture="auto" uiCulture="auto"/>

    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!-- Session will not use cookies to store data if the client
         does not allow it. 
         
         cookieless valid values : 
            "True" or "UseUri"      ==> SessionID included in URL (UrlRewriting)
            "False" or "UseCookies" ==> SessionID included in a local Cookie
            "AutoDetect"            ==> Cookies will be used if client browsers
                                        allows it
      -->
    <sessionState cookieless="AutoDetect" timeout="30" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!-- InternalError is showed when an Unhandled exception is raised -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Pages/Errors/InternalError.aspx" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    
    
    <authentication mode="Forms">
      <forms name=".ASPXAUTH"
            loginUrl="~/Pages/Authentication.aspx"
            timeout="30"
            path="/"
            defaultUrl="~/Pages/MainPage.aspx"
            cookieless="AutoDetect" />
    </authentication>
    
  </system.web>

  <location path="Pages/FavouriteEvent.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/RecommendEvent.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/ViewFavourites.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/ViewRecommendations.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Pages/JoinGroup.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/CreateGroup.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/AddComment.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/MyGroups.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/LeaveGroup.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/RemoveFavourite.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/UpdateUserProfile.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Pages/ChangePassword.aspx" >
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>


  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Unity configuration block -->
  <unity>
    <typeAliases>
      <!-- <typeAlias alias="aliasName" type="Class FullName, Assembly Name" /> -->
      <typeAlias alias="ICommentDao"
                 type="Es.Udc.DotNet.Betbook.Model.CommentDao.ICommentDao, Betbook.Model" />
      <typeAlias alias="CommentDaoEntityFramework"
                 type="Es.Udc.DotNet.Betbook.Model.CommentDao.CommentDaoEntityFramework, Betbook.Model" />

      <typeAlias alias="IFavouriteDao"
                 type="Es.Udc.DotNet.Betbook.Model.FavouriteDao.IFavouriteDao, Betbook.Model" />
      <typeAlias alias="FavouriteDaoEntityFramework"
                 type="Es.Udc.DotNet.Betbook.Model.FavouriteDao.FavouriteDaoEntityFramework, Betbook.Model" />

      <typeAlias alias="IGroupDao"
                 type="Es.Udc.DotNet.Betbook.Model.GroupDao.IGroupDao, Betbook.Model" />
      <typeAlias alias="GroupDaoEntityFramework"
                 type="Es.Udc.DotNet.Betbook.Model.GroupDao.GroupDaoEntityFramework, Betbook.Model" />

      <typeAlias alias="IRecommendationDao"
                 type="Es.Udc.DotNet.Betbook.Model.RecommendationDao.IRecommendationDao, Betbook.Model" />
      <typeAlias alias="RecommendationDaoEntityFramework"
                 type="Es.Udc.DotNet.Betbook.Model.RecommendationDao.RecommendationDaoEntityFramework, Betbook.Model" />

      <typeAlias alias="ITagDao"
                 type="Es.Udc.DotNet.Betbook.Model.TagDao.ITagDao, Betbook.Model" />
      <typeAlias alias="TagDaoEntityFramework"
                 type="Es.Udc.DotNet.Betbook.Model.TagDao.TagDaoEntityFramework, Betbook.Model" />

      <typeAlias alias="IUserDao"
                 type="Es.Udc.DotNet.Betbook.Model.UserDao.IUserDao, Betbook.Model" />
      <typeAlias alias="UserDaoEntityFramework"
                 type="Es.Udc.DotNet.Betbook.Model.UserDao.UserDaoEntityFramework, Betbook.Model" />

      <typeAlias alias="IUserService"
                 type="Es.Udc.DotNet.Betbook.Model.UserService.IUserService, Betbook.Model" />
      <typeAlias alias="UserService"
                 type="Es.Udc.DotNet.Betbook.Model.UserService.UserService, Betbook.Model" />

      <typeAlias alias="ICommentService"
                 type="Es.Udc.DotNet.Betbook.Model.CommentService.ICommentService, Betbook.Model" />
      <typeAlias alias="CommentService"
                 type="Es.Udc.DotNet.Betbook.Model.CommentService.CommentService, Betbook.Model" />

      <typeAlias alias="IEventService"
                 type="Es.Udc.DotNet.Betbook.Model.EventService.IEventService, Betbook.Model" />
      <typeAlias alias="EventService"
                 type="Es.Udc.DotNet.Betbook.Model.EventService.EventService, Betbook.Model" />

      <typeAlias alias="IGroupService"
                 type="Es.Udc.DotNet.Betbook.Model.GroupService.IGroupService, Betbook.Model" />
      <typeAlias alias="GroupService"
                 type="Es.Udc.DotNet.Betbook.Model.GroupService.GroupService, Betbook.Model" />

      <typeAlias alias="IBetOMaticService"
                 type="Es.Udc.DotNet.Betbook.Model.BetOMaticService.IBetOMaticService, Betbook.Model" />
      <typeAlias alias="BetOMaticService"
                 type="Es.Udc.DotNet.Betbook.Model.BetOMaticService.BetOMaticService, Betbook.Model" />

      <typeAlias alias="InterfaceInterceptor"
                 type="Microsoft.Practices.Unity.InterceptionExtension.InterfaceInterceptor, Microsoft.Practices.Unity.Interception" />
      <typeAlias alias="ObjectContext"
                 type="System.Data.Objects.ObjectContext, System.Data.Entity" />
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <!-- ************   Mappings for Bussiness Objects ************* -->
          <!-- Object Context -->
          <type type="ObjectContext" mapTo="ObjectContext">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="connectionString" parameterType="System.String">
                  <value value="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=coto;Initial Catalog=PracticaIS;Integrated Security=True;MultipleActiveResultSets=True&quot;" />
                </param>
              </constructor>
            </typeConfig>
          </type>
          <type type="ICommentDao" mapTo="CommentDaoEntityFramework"></type>
          <type type="IFavouriteDao" mapTo="FavouriteDaoEntityFramework"></type>
          <type type="IGroupDao" mapTo="GroupDaoEntityFramework"></type>
          <type type="IRecommendationDao" mapTo="RecommendationDaoEntityFramework"></type>
          <type type="ITagDao" mapTo="TagDaoEntityFramework"></type>
          <type type="IUserDao" mapTo="UserDaoEntityFramework"></type>
          <type type="IUserService" mapTo="UserService"></type>
          <type type="ICommentService" mapTo="CommentService"></type>
          <type type="IEventService" mapTo="EventService"></type>
          <type type="IGroupService" mapTo="GroupService"></type>
          <type type="IBetOMaticService" mapTo="BetOMaticService"></type>
        </types>
        <extensions>
          <add type="Microsoft.Practices.Unity.InterceptionExtension.Interception, Microsoft.Practices.Unity.Interception" />
        </extensions>
        <!-- Interception schema for transactional methods -->
        <extensionConfig>
          <add name="TransactionalIntercepcion" type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationElement, Microsoft.Practices.Unity.Interception.Configuration">
            <interceptors>
              <interceptor type="InterfaceInterceptor">
                <key type="IUserService" />
                <key type="ICommentService" />
                <key type="IEventService" />
                <key type="IGroupService" />
                <key type="IBetOMaticService" />
              </interceptor>
            </interceptors>
          </add>
        </extensionConfig>
      </container>
    </containers>
  </unity>
  
  <applicationSettings>
    <Es.Udc.DotNet.Betbook.Web.Properties.Settings>
      <setting name="Betbook_defaultCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Betbook_applicationURL" serializeAs="String">
        <value>http://localhost:8081/Betbook</value>
      </setting>
      <setting name="Betbook_providerInvariantName" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="Betbook_connectionString" serializeAs="String">
        <value>Data Source=coto; Initial Catalog=PracticaIS; Integrated Security=True</value>
      </setting>
    </Es.Udc.DotNet.Betbook.Web.Properties.Settings>
    <Es.Udc.DotNet.Betbook.Properties.Settings>
      <setting name="Betbook_defaultCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Betbook_applicationURL" serializeAs="String">
        <value>http://localhost:8081/Betbook</value>
      </setting>
    </Es.Udc.DotNet.Betbook.Properties.Settings>
  </applicationSettings>
  
</configuration>